.about
  .about-wrapper
    each content in section.about.content
      .about-content
      if content.type === 'avatar'
        .about-avatar
      .about-content
        .about-title
        .about-paragraph
