// The color name can be found at
// http://chir.ag/projects/name-that-color/
$color-blue-zodiac: #10235A;
$color-danube: #488ECD;
$color-denim: #1871DA;
$color-malibu: #6AB5F9;
$color-charlote: #A7E6F5;
$color-snuf: #E7E0ED;
$color-white: #FFF;
$color-spring-wood: #F6F4EE;
