$class: 'experience';

.#{$class}{
  @extend %section-container;
}

.#{$class}-section-title{
  @extend %section-title;
}

.#{$class}-list-header {
  // make the lsit header full width
  display: block;
  font-size: 1.5rem;
  // and create some white space between text and margins
  padding: 1.5rem;
  // set the background color
  background-color: $color-blue-zodiac;
  // set the text color to be in contrast with the background color-blue-zodiac
  color: $color-white;
  // show thw hand cursor to suggest interaction
  cursor: pointer;
  // set the border bottom
  border-bottom: 0.1rem solid darken($color-denim, 10)
  // and remove the border from the  last occurence
  &:last-of-type{
    border-bottom: none;
  }
}

.resume-icon-plus {
  float:right;
  transform: rotate(45deg);
}

.#{class}-list-body {
  // use max-height and overflow CSS trick
  // to make a PURE CSS accordion
  max-height: 0;
  overflow: hidden;
  display: block;
  // add a quick animation of a quarter of a second
  // the checked / not checked state will make elements
  // transition form 0 height to actual height or the other way around
  transition: 0.25s;
}

.#{$class}-list-radio {
  display: none;
}

.#{$class}-list-company {
  font-weight: bold;
}

.#{$class}-list-date {
  font-style: italic;
}

.#{$class}-list-date,
.#{$class}-list-company,
.#{$class}-responsability-list-item,
.#{$class}-list-summary {
  padding: 1.2rem;
}

.#{$class}-list-info {
  // use display flex between the children appear on same row
  display: flex;
  // use space between of justify content to make them
  // sit on to the left and one to the right
  justify-content: space-between;
}

.#{$class}-responsability-list {
  // create some white space between the list and the
  // end of the experience list body
  margin-bottom: 0.4rem;
}

.#{$class}-responsability-list-item,
.#{$class}-responsability-list-summary {
  line-height: 1.5;
  font-size: 1.2rem;
  // text-align: justify;
}

.#{$class}-responsability-list-item {
  // make the list item lose touch with body
  // and make ot sit centered
  width: 98%;
  margin: 0 auto;
  line-height: 1.5rem;
  font-size: 1.2rem;

  // Alternate background color using even and odd
  // parametres of nth-child pseudo selector
  &:nth-child(odd) {
    background-color: lighten($color-danube, 20%);
  }

  &:nth-child(even) {
    background-color: darken($color-danube, 5%);
  }
}

// using the adjacent selector "+" to apply CSS properties
// to the next sibling element based on the checked state of the first elemnt
// Exapmle:
// <section>
//  <input type="radio">
//  <div>text</div>
//  <input type="radio">
//  <div>text</div>
// </section>
// in the example above the input and div elemnts are all
// sibling, because they are on the same level and children on the
// same parent
.#{$class}-list-radio:checked + .#{$class}-list-header {
  // change the color of the background for the selected
  // header experience
  background-color: $color-denim;
  border-bottom: none;
}


.#{class}-list-radio + .#{$class}-list-header + .#{$class}-list-body {
  max-height: 300rem;
  border: 0.1rem solid darken($color-blue-zodiac, 10);
}
