@media (min-width: 1280px){
  .#{$class}-list{
    width: 20%;
    margin: auto;
  }
  .#{$class}-list-item:hover {
    background-color: $color-charlote;
  }

  .#{$class}-list-link{
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  .#{$class}-link:hover{
    background-color: $color-malibu;
  }
}
