@media (min-width: 1280px) {
  .container-flex {
    display: flex;
    flex-direction: column;
  }
  .about-wrapper{
    display: flex;
    max-width: 80%;
    margin: auto;
    text-align: center;
    // flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-content{
    width: 50%;
  }

  .about-content:nth-child(1),
  .about-content:nth-child(3){
    width: 25%;
  }
  .about-section-title,
  .experience-section-title,
  .skill-section-title {
    font-size: 2rem;
    margin-bottom: 0rem;
  }

}
