$class: 'home-message';

.#{$class} {
  color: $color-white;
}

.#{$class}-radio + .#{$class} {
  display: none;
}

#message-default.#{$class}-radio:checked + .#{$class} + .#{$class}-box-header {
  display: none;
}

.#{$class}-radio:checked + .#{$class} {
   display:inherit;
}

input.#{$class}-radio[type=radio] {
  display: none;
}

.#{$class}-body {
  display: inline-block;
  border: 0.5rem solid $color-white;
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin-top: 0.5rem;
  position: relative;
}

.#{$class}-link,
.#{$class}-link:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: $color-white;
}

.#{$class}-box-header {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 100%;
  display: flex;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.#{$class}-box-close,
.#{$class}-box-info {
  padding: 0.4rem;
  background-color: $color-white;
  //need to find out why is this line giving an error
  // @extend %noselect;
}

.#{$class}-box-info {
  width: 100%;
  border-bottom-left-radius: 0.4rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  line-height: 1.5rem;
}

.#{$class}-box {
  margin-bottom: 3rem;
}

.#{$class}-box-close {
  border-bottom-right-radius: 0.4rem;
  cursor: pointer;
  width: 2.5rem;
  font-size: 1.5rem;
}
