.home
  .home-wrapper
    h1.home-name #{curriculum.author.name}
    h2.home-name #{curriculum.author.title}
    ul
      li
        each social in curriculum.author.social
          a(href="social.url")
            span(class='resume-icon' + social.icon)
