$class: 'home-message';

.#{$class}-radio + .#{$class} {
  display: none;
}

.#{$class}-radio:checked + .#{$class} {
  display: inherit;
}

input.#{$class}-radio[type=radio] {
  display: none;
}

.#{$class}-body {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin-top: 0.5rem;
  position: relative;
}

.#{$class}-link,
.#{$class}-link:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: $color-white;
}

.#{$class}-box-header {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 100%;
  display: flex;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.#{$class}-box-close,
.#{$class}-box-info {
  padding: 0.4rem;
  background-color: $color-white;
}

.#{$class}-box-info {
  width: 100%;
  border-bottom-left-radius: 0.4rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.#{$class}-box {
  margin-bottom: 3rem;
}

.#{$class}-box-close {
  border-bottom-right-radius: 0.4rem;
}
