#home
.home
  .home-wrapper
    h1.home-name #{data.curriculum.section.home.author.name}
    h2.home-title #{data.curriculum.section.home.author.title}
    ul.home-social
      each social, key in data.curriculum.section.home.author.social
        li.home-item
          label.home-link(for='message-box-id-'+key)
            span(class='resume-icon-' + social.icon)
    include home-message-box
